<!DOCTYPE html>
<html data-theme="winter">
  <head>
    <title>Higher Eduction Access Prediction System</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <% include ./partial/navbar.ejs %>
    <div class="max-w-6xl mx-auto p-6 space-y-6">
      <h1 class="text-3xl font-bold mb-2"><%= university.name %></h1>
      <% if (university.image) { %>
      <img
        src="<%= university.image %>"
        alt="University Image"
        class="w-full max-w-md mb-6 rounded-lg shadow mx-auto"
      />
      <% }else{ %>
      <img
        src="/images/slider-3-1.jpg"
        alt="Default University Image"
        class="w-full max-w-md mb-6 rounded-lg shadow mx-auto"
      />
      <%}%>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
        <div class="space-y-4">
          <p><strong>Ranking:</strong> <%= university.ranking %></p>
          <p>
            <strong>Minimum Male Mark:</strong> <%= university.minMarkMale %>
          </p>
          <p>
            <strong>Minimum Female Mark:</strong> <%= university.minMarkFemale
            %>
          </p>
        </div>
        <div class="space-y-4">
          <p><strong>Region:</strong> <%= university.region %></p>
          <p>
            <strong>Students Acceptable:</strong> <%= university.limitCount %>
          </p>
          <p>
            <strong>Supported Categories:</strong>
            <% university.supportedCategories.forEach(function(category) { %>
            <span class="badge badge-primary mr-1 p-3"
              ><%= category == "A" ? "သိပ္ပံတွဲ" : category == "B" ? "ဝိပ္ပံတွဲ"
              : "ဝိဇ္ဇာတွဲ" %></span
            >
            <% }); %>
          </p>
        </div>
        <div class="space-y-4">
          <p>
            <strong>Website URL:</strong>
            <a
              href="<%= university.websiteUrl %>"
              target="_blank"
              class="text-blue-500 hover:underline"
              ><%= university.websiteUrl %></a
            >
          </p>
          <p>
            <strong>University Type:</strong>
            <%= university.category %>
          </p>
          <p>
            <strong>Address:</strong>
            <%= university.address %>
          </p>
        </div>
      </div>

      <hr class="my-6" />
    </div>
    <% include ./partial/footer.ejs %>
  </body>
</html>
